.single {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 20px;
  flex-wrap: wrap;
}

.single .img {
  flex: 1;
  display: flex;
  justify-content: center;
}

.single .info {
  flex: 2;
  display: flex;
  flex-direction: column;
}

@media (max-width: 600px) {
  .single {
    flex-direction: column;
    align-items: center;
  }
}
